fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]

passlib[bcrypt]==1.7.4
bcrypt==4.3.0

python-multipart
email-validator
alembic
pypdf
openai
pytest
httpx